
body{

color:white;
background-image: url('./assets/swing.jpeg');
}

#content_placeholder{
position:relative;
margin-top:100px;
margin-bottom:50px;
margin-right:35px;
margin-left: 35px;
}

ul li{display:inline;}

table {
	height: 120px;
	width: 91%;
	padding-left: 10px;
}

td{
   margin-top:1px;
   margin-right:4px;
   margin-left:4px;
   text-align: center;
}
th{padding-bottom:5px;}

th:hover{
background-color: white;
color:black;
opacity:1;
}

tr{
   background-color: black;
   outline:none;
   }

tr:hover{
transition: background-color .5s;
opacity:0.6;
}

.pagination{
   margin-left:33%;
   margin-top:4%;
}

.pagination a{
    color: white;
    float: left;
    padding: 5px 14px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 0 4px;
    background-color: black;
    float:left;
}


.factive{
   color: white;
   opacity:0;
}

#page_counter {
	position: absolute;
   display:inline-block;
	top: 217px;
	right: 604px;
	color: black;
	border: 1px dotted white;
	border-radius: 50px;
	padding: 1px 13px;
   font-weight:bolder;
}
